<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spliterator.users.dao.UserDao">

    <insert id="insertUser">
        INSERT INTO people(name) VALUES (#{name})
    </insert>

    <select id="getUser" resultType="UserDetails">
        SELECT id,name FROM people
        <if test="userId != null">
            WHERE id=#{userId}
        </if>
    </select>

    <select id="checkUserExistsByName" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1 FROM people WHERE name LIKE #{name}
        )
    </select>

</mapper>